:root{
    --font-color: gray;
    --button-color: #4285f4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: var(--font-color);
}
header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 20px;
    background-color: white;
    cursor: pointer;
    z-index: 10;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
a{
    text-decoration: none;
    color: var(--font-color);
}
a:hover{
    cursor: pointer;
    text-decoration:underline;
}
main{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    min-height: 20px;
    background-color: rgb(245, 244, 244);
    border-top: 1px solid rgb(224, 221, 221);
}
.test{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
input{
    width: 550px;
    height: 45px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    text-indent: 40px;
}
.button{
    padding: 10px 20px;
    margin: 10px;
    align-items: center;
    border: none;
    border-radius: 5px;;
}
.icon-mic{
    position: relative;
    top: 10%;
    right: 7%;
}
.icon-search{
    position: relative;
    top: 10%;
    left: 7%;
}
.sign-in{
    background-color: var(--button-color);
    border: none;
    padding: 7px 10px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
button{
    cursor: pointer;
}
button:hover{
    border: 1px solid gray;
}
button:focus{
    border: 1px solid var(--button-color);
}
@media only screen and (max-width: 650px){
    .test{
        justify-content: space-around;
        align-items: center;
    }
    footer li{ 
        display: block;
    }
    input{
        width: 400px;
    }
    .icon-mic{
        right: 10%;
    }
    .icon-search{
        left: 10%;
    }
    .button{
        margin: 5px;
    }
}